#global
{
        order crowdsec first
        order appsec after crowdsec

        crowdsec {
                api_url http://127.0.0.1:8080
                api_key <your-key> #cscli bouncers add caddy
                ticker_interval 10s
                #appsec_url http://127.0.0.1:7422
        }
}

#snippets

(crowdsec) {
        crowdsec
        #appsec
        log access-log {
                output file /var/log/caddy/access.log
        }
}

#proxies
your.domain {
        import crowdsec
        reverse_proxy localhost:8888
}

your.second.domain {
        import crowdsec
        reverse_proxy localhost:11000
}
